@media screen and (min-width: 1200px) {
    .hamburger {
        .hamburger__btn {
            width: 50px;
            height: 45px;
            border-radius: 13px;
            div {
                width: 30px;
                height: 3px;
                margin: 7px auto;
            }
        }
        .hamburger__wrapper {
            .menu__hamburger {
                width: 700px;
                .menu__link {
                    p {
                        font-size: 45px;
                    }
                }
            }
        }
    }

    .scrollup {
        width: 50px;
    }

    .header {
        .header__instagram {
            font-size: 50px;
        }
    }

    .main-block {
        .main-block__text {
            h2 {
                width: 80%;
                font-size: 23px;
                &::after,
                &::before {
                    height: 3px;
                }
            }
            h1 {
                line-height: 25px;
                font-weight: 600;
                font-size: 50px;
                & .hotel {
                    font-size: 40px;
                    line-height: 25px;
                }
            }
            h3 {
                font-size: 20px;
                line-height: 25px;
            }
        }
        .main-block__btn {
            a {
                font-size: 21px;
                border: 2px solid rgb(245, 229, 193);
                padding: 13px 50px;
                border-radius: 10px;
            }
        }
    }

    .welcome {
        .welcome__info {
            margin-left: 50px;
            h3 {
                font-size: 18px;
                padding-left: 80px;
                &::before {
                    width: 75px;
                    height: 3px;
                }
            }
            h2 {
                font-size: 32px;
                letter-spacing: -2.1px;
                margin-top: 15px;
            }
            p {
                font-size: 20px;
            }
        }
        .welcome__slider-item {
            height: 400px;
            &::after {
                height: 370px;
            }
        }
        .welcome__slider-btn {
            width: 70px;
            height: 70px;
        }
        .slick-dots button {
            width: 30px;
            height: 30px;
        }
    }

    .apartments__title,
    .exellence__title,
    .reviews__title,
    .rooms__title,
    .overview__title,
    .important-info__title {
        margin-bottom: 30px;
        h3 {
            font-size: 20px;
            width: 45%;
            &::after,
            &::before {
                height: 4px;
            }
        }
        h2 {
            font-size: 32px;
        }
    }

    .apartments {
        .apartments__slider-wrapper {
            height: 650px;
            .apartments__slider-item {
                .apartments__slider-descr {
                    top: 80px;
                    width: 700px;
                    height: 470px;
                    padding: 30px;
                    h3 {
                        font-size: 21px;
                        line-height: 20px;
                    }
                    h2 {
                        line-height: 20px;
                        font-size: 37px;
                        padding-top: 20px;
                    }
                    p {
                        font-size: 21px;
                        line-height: 34px;
                        height: 180px;
                    }
                    img {
                        width: 50px;
                        margin-right: 40px;
                    }
                    a {
                        padding: 10px 24px;
                        font-size: 17px;
                        line-height: 100px;
                        border: 3px solid #ffd370
                    }
                }
                .apartments__slider-img{
                    height: 650px;
                    width: 650px;
                }
                .apartments__slider-boxes {
                    width: 400px;
                    height: 120px;
                    bottom: -650px;
                    .apartments__slider-box {
                        &.without::after {
                            top: 40px;
                            left: 160px;
                            width: 80px;
                            height: 3px;
                        }
                        img {
                            width: 50px;
                        }
                        p,
                        span {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .slick-list {
            height: 650px;
        }
        .apartments__slider-btn {
            width: 75px;
            height: 75px;
        }
        .apartments__slider-btnprev {
            left: 480px;
            bottom: 20px;
        }
        .apartments__slider-btnnext {
            left: 550px;
            bottom: 20px;
        }
    }

    .exellence {
        .exellence__tabs {
            .exellence__tab {
                padding: 20px;
                line-height: 32px;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .exellence__content {
            margin-top: 50px;
            .exellence__content-wrapper {
                .exellence__content-box {
                    .exellence__content-text {
                        padding-left: 30px;
                        h2 {
                            font-size: 25px;
                        }
                        p {
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }
                    .exellence__content-img {
                        height: 380px;
                    }
                    .exellence__content-img::after {
                        height: 370px;
                    }
                }
            }
        }
    }

    .reviews {
        .reviews__slider {
            .reviews__slider-item {
                .reviews__slider-descr {
                    top: 130px;
                    width: 700px;
                    height: 450px;
                    padding: 40px;
                    .reviews__slider-title {
                        .reviews__slider-client {
                            width: 130px;
                            height: 130px;
                            margin-bottom: 30px;
                        }
                        h2 {
                            font-size: 28px;
                            margin: 0 20px;
                        }
                        &::after {
                            width: 150px;
                            height: 100px;
                            bottom: 30px;
                            right: 60px;
                        }
                    }
                    .reviews__slider-text p {
                        line-height: 23px;
                        font-size: 18px;
                    }
                }
            }
        }
        .reviews__slider-btn {
            width: 70px;
            height: 70px;
        }
    }

    .rooms {
        .rooms__slider {
            .rooms__slider-item {
                margin: 20px;
                height: 650px;
                .rooms__slider-img img {
                    height: 250px;
                }
                .rooms__slider-descr {
                    padding: 15px;
                    .rooms__slider-boxes {
                        .rooms__slider-price {
                            padding: 10px;
                            width: 150px;
                            height: 50px;
                            top: -40px;
                            left: -14px;
                            h2 {
                                font-size: 21px;
                                line-height: 30px;
                            }
                            .hide-td {
                                font-size: 22px;
                            }
                        }
                        img {
                            width: 50px;
                        }
                        p {
                            line-height: 20px;
                            font-size: 13px;
                        }
                        span {
                            font-size: 14px;
                        }
                        .rooms__slider-box {
                            margin: 15px 0;
                            &.without::after {
                                top: 45px;
                                left: 127px;
                                width: 75px;
                                height: 3px;
                            }
                        }
                    }
                    h2 {
                        font-size: 23px;
                        line-height: 10px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    button {
                        margin-top: 15px;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 20px;
                    }
                    hr {
                        border-bottom: 2px dashed;
                        margin: 15px 0;
                    }
                    img {
                        width: 40px;
                    }
                }
            }
            .rooms__slider-btn {
                width: 70px;
                height: 70px;
            }
        }
    }

    .overview__description {
        .overview__text {
            width: 50%;
            h2 {
                font-size: 32px;
                padding-right: 50px;
            }
            p {
                font-size: 20px;
                line-height: 25px;
                padding-right: 50px;
            }
        }
        .overview__img::after {
            width: 75%;
            height: 370px;
            bottom: -30px;
        }
    }

    .important-info {
        .important-info__description {
            h4 {
                margin-top: 20px;
                font-size: 20px;
            }
        }
        .important-info__box {
            margin-top: 50px;
            .important-info__contacts {
                .important-info__contacts-wrapper {
                    margin-left: 150px;
                }
                h2 {
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 40px;
                    font-size: 22px;
                    a {
                        margin: 15px 0;
                    }
                    .important-info__contacts-tel::before {
                        top: -5px;
                        left: -40px;
                        width: 30px;
                        height: 30px;
                    }
                    .important-info__contacts-mail::before {
                        left: -40px;
                        width: 30px;
                        height: 25px;
                    }
                    .important-info__contacts-location::before {
                        top: -5px;
                        left: -40px;
                        width: 25px;
                        height: 30px;
                    }
                }
                h3 {
                    font-size: 23px;
                    margin-top: 20px;
                }
                .important-info__contacts-btn a {
                    width: 150px;
                    line-height: 40px;
                    font-size: 18px;
                    border: 3px solid #ffd370;
                }
                .important-info__contacts-instagram::before {
                    top: 5px;
                    left: 15px;
                    width: 30px;
                    height: 30px;
                }
                .important-info__contacts-waze::before {
                    top: 7px;
                    right: 50px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    footer {
        .footer__logo {
            top: 10px;
            padding: 0px 150px;
            width: 6%;
        }
        hr {
            margin: 70px 0;
        }
        h2 {
            font-size: 20px;
            margin: 0px auto 50px;
            color: #fff;
        }
        .footer__info{
            h4 {
                font-size: 18px;
            }
            h3 {
                margin: 10px 0;
                font-size: 24px;
            }
            .foooter__info-wrapper {
                margin-left: 50px;
                line-height: 50px;
                a {
                    font-size: 22px;
                    color: #fff;
                }
                .foooter__info-tel::before {
                    top: 5px;
                    left: -50px;
                    width: 30px;
                    height: 30px;
                }
                .foooter__info-mail::before {
                    top: 115px;
                    left: -50px;
                    width: 30px;
                    height: 25px;
                }
                .foooter__info-loc::before {
                    left: -50px;
                    width: 25px;
                    height: 30px;
                }
            }
            .foooter__info-network {
                a {
                    font-size: 20px;
                    border: 3px solid #f5e5c1;
                    border-radius: 10px;
                    padding: 10px 30px 10px 50px;
                    &::before {
                        top: 5px;
                        left: 15px;
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }

    // pages.css
    .price-page,
    .restoraunt,
    .children,
    .entertainment,
    .contacts {
        .price-page__info,
        .restoraunt__info,
        .children__info,
        .entertainment__info,
        .contacts__info {
            .price-page__slider {
                .price-page__slider-item {
                    height: 400px;
                }
                .price-page__slider-item::after {
                    height: 370px;
                    bottom: 10px;
                    right: 0;
                }
                .price-page__slider-btn,
                .price-page__slider-btn {
                    width: 70px;
                    height: 70px;
                }
                .slick-dots li {
                    padding: 0 5px;
                }
                .slick-dots button {
                    width: 25px;
                    height: 25px;
                }
            }
            .price-page__desc,
            .restoraunt__desc,
            .children__desc,
            .entertainment__desc,
            .contacts__desc {
                margin-right: 50px;
                h2 {
                    font-size: 32px;
                    letter-spacing: 0;
                    text-align: left;
                }
                h3 {
                    font-size: 20px;
                    padding-left: 100px;
                    &::before {
                        height: 3px;
                    }
                }
                h4 {
                    font-size: 18px;
                    margin: 10px 0 20px;
                }
                p {
                    font-size: 20px;
                }
                #yellow {
                    font-size: 20px;
                }
            }
        }

        .price-page__rooms p,
        .restoraunt .price-page__rooms p,
        .children .price-page__rooms p,
        .entertainment .price-page__rooms p,
        .contacts .price-page__rooms p {
            font-size: 18px;
        }

        .price-page__title h2 {
            font-size: 32px;
        }

        .price-page__rooms {
            a {
                border: 3px solid;
                height: 350px;
            }
            .price-page__rooms-box {
                margin-top: 10px;
                h2 {
                    font-size: 37px;
                }
            }
        }

        .restoraunt__img,
        .children__img,
        .entertainment__img{
            width: 55%;
            height: 400px;
            &::after{
                height: 380px;
            }
        }
        .restoraunt__btn {
            margin: 50px 0 80px;
            button {
                width: 150px;
                padding: 10px;
                line-height: 25px;
                font-size: 20px;
                border: 3px solid #ffd370;
                &:hover {
                    border: 3px solid #211403;
                }
            }
            form + form {
                margin-left: 20px;
            }
        }
    }

    .pool {
        h2 {
            margin-top: 40px;
        }
        ul {
            margin: 20px 0 80px;
            li {
                font-size: 18px;
                line-height: 25px;
            }
        }
        .pool__info {
            .pool__slider {
                width: 500px;
                .price-page__slider-item {
                    height: 335px;
                    img {
                        width: 450px;
                    }
                }
                .price-page__slider-item::after {
                    height: 320px;
                    bottom: 0;
                    right: 0;
                }
                .price-page__slider-btn,
                .price-page__slider-btn {
                    bottom: 15px;
                    width: 60px;
                    height: 60px;
                }
                .slick-dots {
                    bottom: -21%;
                }
                .slick-dots li {
                    padding: 0 5px;
                }
                .slick-dots button {
                    width: 20px;
                    height: 20px;
                }
            }
            .pool__desc {
                width: 700px;
                margin-right: 30px;
            }
            h2 {
                font-size: 30px;
                letter-spacing: 0;
                margin: 15px 0;
            }
            h3 {
                font-size: 22px;
                padding-left: 105px;
                &::before {
                    height: 3px;
                }
            }
            h4 {
                font-size: 20px;
            }
            p {
                font-size: 17px;
            }
        }
    }

    .children__info,
    .entertainment__info,
    .contacts__info {
        margin-bottom: 100px;
        h4 {
            margin-top: 10px;
        }
        .contacts__img {
            width: 50%;
            height: 600px;
            &::after{
                width: 75%;
                height: 550px;
                bottom: 0;
            }
        }
    }

    .contacts {
        h2 {
            margin: 20px 0;
            font-size: 32px;
            font-weight: 500;
        }
        h5 {
            font-size: 22px;
            margin: 20px 0;
            line-height: 35px;
        }
        h6 {
            font-size: 24px;

        }
        iframe {
            height: 500px;
            margin-bottom: 50px;
        }

    }

    // rooms.css
    #room-page__red-text {
    font-size: 20px;
    }
.room-page {
    h1, h2 {
        font-size: 40px;
    }
    .flex {
        .fas {
            font-size: 50px;
            width: 60px;
        }
    }

    .room-page__title{
        p {
            font-size: 20px;
        }
    }
    .room-page__title::before,
    .room-page__desc::before,
    .room-page__price::before {
        height: 4px;
        top: -10px;
    }

    .room-page__slider-box {
        .room-page__slider-wrapper{
            width: 70%;
            .room-page__sliderbig {
                .main-img {
                    height: 400px;
                }
                .bg-img {
                    height: 400px;
                }
            }
            .room-page__slider {
                .room-page__slider-item {
                    border: 5px solid #28303d;
                    img {
                        height: 150px;
                    }
                }
            }
            .room-page__slider-btn {
                border: 3px solid #ffffffc7;
                width: 50px;
                height: 50px;
            }
            .room-page__slider-btnnext {
                right: 10px;
            }
            .room-page__slider-btnprev {
                left: 10px;
            }
        }
        .room-page__info {
            padding: 0 40px;
            .room-page__info-price {
                width: 280px;
            }
            .hide-td {
                left: 80px;
            }
            .room-page__info-price,
            h2 {
                font-size: 42px;
                margin-bottom: 10px;
            }
            p {
                font-size: 21px;
                margin: 20px 0 20px 30px;
            }
        }
    }

    .room-page__desc {
        margin-top: 50px;
        p {
            width: 100%;
            font-size: 20px;
        }
        .room-page__desc-blocks {
            .room-page__desc-block {
                ul {
                    font-size: 32px;
                    padding-top: 30px;
                    li {
                        font-size: 20px;
                        line-height: 25px;
                        padding-left: 30px;
                    }
                    li:first-child {
                        padding-top: 20px;
                    }
                }
            }
        }
    }

}

.room-page__price {
    margin: 50px 0 100px;
    h2 {
        font-size: 32px;
        letter-spacing: 0;
        margin-top: 30px;
    }
    h3 {
        font-size: 18px;
        margin: 10px 0 20px;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }
    table {
        border-right: 1px solid;
    }
    .hide tr.main,
    .room1 tr.studio-g1,
    .room2 tr.studio-g1-1,
    .room3 tr.studio-g2,
    .room4 tr.delux-g2,
    .room5 tr.superior-g2,
    .room6 tr.apartment-sea-1,
    .room6f tr.apartment-sea-1f,
    .room7 tr.apartment-sea-2,
    .room7a tr.apartment-sea-2a,
    .room7f tr.apartment-sea-2f,
    .room9 tr.standart,
    .room10 tr.apartment-park,
    .room11 tr.villa-west,
    .room12 tr.villa-south,
    .room13 tr.villa-east,
    .room14 tr.villa-vip,
    .room15 tr.studio-north,
    .room16 tr.cottage-sky,
    .room17 tr.studio-sky {
        td {
            width: 150px;
            font-size: 22px;
            border: 1px solid;
            padding: 10px;
            height: 60px;
        }
    }
    td {
        font-size: 16px;
        border-bottom: 1px solid;
        border-left: 1px solid;
        height: 60px;
        padding: 10px;

    }
    .main {
        td {
            width: 150px;
            height: 50px;
            font-size: 18px;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            padding: 10px;
        }
    }
    ul {
        margin-top: 10px;
    }
    li {
        position: relative;
        padding-left: 50px;
        font-size: 21px;
        line-height: 40px;
        .fas::before {
            position: absolute;
            left: 20px;
        }
    }
}

}

@media screen and (max-width: 1200px) {
    .hamburger {
        .hamburger__btn {
            width: 4vw;
            height: 3.5vw;
            div {
                width: 2.3vw;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
        .header__phones{
            display: none;
        }
    }
    .exellence {
        .exellence__tabs {
            .exellence__tab {
                &:hover {
                    background-color: #211403;
                    color: #F5E5C1;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        .hamburger__btn {
            width: 5vw;
            height: 4.5vw;
            right: 3.5vw;
            top: 2.6vw;
            div {
                width: 2.8vw;
                margin: 0.6vw auto;
            }
        }
    }

    .header {
        .header__logo {
            width: 20%;
        }
        .header__instagram {
            font-size: 6vw;
        }
        .header__btn-call {
        font-size: 1.9vw;
        border-width: 0.6vw;
        border-radius: 1.5vw;
        }
        .header__phones{
            display: none;
        }
        .header__location-item {
            font-size: 2.5vw;
        }
        .header__location-item::before {
            left: -3.5vw;
            width: 2.8vw;
            height: 2.8vw;
        }
    }

    .main-block {
        height: 60vw;
        .main-block__text {
            h2 {
                width: 100%;
                &::before{
                    display: none;
                }
                &::after{
                    display: none;
                }
            }
        }
        .main-block__btn {
            a {
                border-radius: 1.5vw;
            }
        }
    }

    .welcome {
        .container {
            flex-direction: column-reverse;
        }
        .welcome__info {
            width: 100%;
            margin-left: 0;
            h2 {
                font-size: 3.2vw;
            }
            h3 {
                font-size: 2vw;
                &::before {
                    width: 8%;
                    height: 0.4vw;
                    top: 25%;
                }
            }
            p {
                font-size: 2.3vw;
                line-height: 1.5em;
            }
        }
        .welcome__slider {
            width: 90%;
        }
        .welcome__slider-item {
            height: 52vw;
            img {
                width: 90%;
                image-rendering: pixelated;
            }
            &::after {
                height: 49vw;
                bottom: 0;
                right: 0;
            }
        }
        .welcome__slider-btn {
            width: 8vw;
            height: 8vw;
            img {
                transform: translate(10%, 10%);
            }
        }
        .welcome__slider-btnprev {
            right: 8%;
        }
        .slick-dots {
            bottom: 3%;
            right: 25%;
            & button {
                width: 3vw;
                height: 3vw;
            }
        }
    }

    .apartments {
        .apartments__slider-btn {
            width: 7vw;
            height: 7vw;
        }
        .apartments__slider-btnprev {
            left: 23vw;
            bottom: 1vw;
        }
        .apartments__slider-btnnext {
            bottom: 1vw;
        }
    }

    .reviews {
        .reviews__slider {
            .reviews__slider-item {
                .reviews__slider-descr {
                    .reviews__slider-text p {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .rooms {
        .rooms__slider {
            .rooms__slider-item {
                .rooms__slider-descr {
                    .rooms__slider-boxes {
                        .rooms__slider-price {
                            width: 12vw;
                            .hide-td {
                                font-size: 2.5vw;
                            }
                        }
                    }
                }
            }
        }
    }

    .important-info {
        .important-info__box {
            flex-direction: column-reverse;
            .important-info__contacts {
                width: 100%;
                .important-info__contacts-wrapper {
                    margin: 0;
                }
                ul,
                h3 {
                    margin-left: 28vw;
                }
                .important-info__contacts-btn {
                    justify-content: center;
                }
            }
            .important-info__map {
                width: 100%;
                margin-top: 5vw;
            }
        }
    }
    footer {
        .footer__info {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 586px) {
    .header {
        .header__location {
                display: none;
            }
    }
    footer {
        h2 {
            font-size: 3.6vw;
            font-weight: 400;
        }
        .footer__info {
            h4 {
                font-size: 3vw;
            }
            h3 {
                font-size: 3.3vw;
            }
            a {
                font-size: 2.6vw;
            }
            .foooter__info-wrapper {
                line-height: 4vw;
            }
            .foooter__info-contacts {
                width: 50%;
            }
            .foooter__info-location {
                width: 43%;
            }
            .foooter__info-network {
                margin: 3vw auto;
                text-align: center;
                a {
                    font-size: 3vw;
                    border-radius: 1.5vw;
                    padding: 2vw 5vw 2vw 10vw;
                    &::before {
                        width: 5vw;
                        height: 5vw;
                        top: 1.2vw;
                        left: 3vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    // .scroll-snap {
    //     height: 100vh;
    //     scroll-snap-type: y mandatory;
    //     overflow: auto;
    // }

    .scrollup {
        width: 10vw;
    }

    .container {
        margin: 10vw auto;
    }

    .hamburger {
        .hamburger__btn {
            width: 9vw;
            height: 8vw;
            right: 4vw;
            top: 4.5vw;
            border-radius: 2vw;
            div {
                width: 5vw;
                margin: 1.5vw auto;
            }
            .hamburger__btn-line-top.top-animate {
                top: 1.7vw;
            }
        }
        .hamburger__wrapper {
            .menu__hamburger {
                margin: 10vw auto;
            }
            .menu__link p {
                font-size: 5vw;
                font-weight: 400;
                line-height: 2.5em;
            }
        }
    }

    .header {
        .header__logo {
            width: 25%;
        }
        .header__instagram {
            font-size: 9vw;
        }
        .header__btn-call {
            font-size: 3.2vw;
            padding: 1.8vw 6vw;
            border-radius: 2vw;
        }
    }

    .main-block {
        height: 100vh;
        background-image: url("../img/IMG_2771-min_11zon_mob.webp");
        background-position: center;
        .main-block__text {
            h1 {
                font-size: 9vw;
                line-height: 10vw;
                width: 50%;
                margin: 15vw auto;
                text-shadow: #0c0c07 3px 3px 3px;
                .hotel {
                    font-size: 8vw;
                }
            }
            h2 {
                font-size: 4.5vw;
                &::after{
                    width: 10%;
                    top: 20%;
                }
                &::before{
                    width: 10%;
                    top: 20%;
                }
            }
            h3 {
                display: none;
            }
        }
        .main-block__btn a {
            padding: 3vw 12vw;
            font-size: 4vw;
            border-radius: 2vw;
        }
    }

    .welcome {
        .welcome__info {
            h3 {
                font-size: 4vw;
            }
            h2 {
                font-size: 4.5vw;
            }
            p {
                font-size: 3vw;
            }
        }
        .welcome__slider {
            display: none;
        }
    }

    .apartments__title,
    .exellence__title,
    .reviews__title,
    .rooms__title,
    .overview__title,
    .important-info__title{
        h2 {
            font-size: 5vw;
        }
        h3{
            width: 80%;
            font-size: 3vw;
            &::before {
                width: 10%;
                height: 0.3vw;
                }
            &::after {
                width: 10%;
                height: 0.3vw;
                }
        }
    }

    .apartments {
        display: none;
    }

    .exellence {
        hr {
            display: none;
        }
        .exellence__tabs {
            flex-wrap: wrap;
            .exellence__tab {
            width: 45%;
            font-size: 3vw;
            margin-top: 0.5vw;
            border: 0.2vw solid #211403;
            }
        }
        .exellence__content {
            .exellence__content-wrapper {
                .exellence__content-box {
                    flex-wrap: wrap;
                    .exellence__content-img {
                        width: 100%;
                        height: 50vw;
                        &::after {
                            height: 48vw;
                        }
                    }
                    .exellence__content-text {
                        width: 100%;
                        height: 45vw;
                        margin-top: 5vw;
                        h2 {
                            font-size: 5vw;
                        }
                        p {
                            font-size: 3vw;
                            line-height: 3.5vw;
                        }
                    }
                }
            }
        }
    }

    .reviews {
        .reviews__slider {
            .reviews__slider-item {
                height: 60vw;
                .reviews__slider-img {
                    width: 75%;
                }
                .reviews__slider-descr {
                top: 4.8vw;
                width: 65vw;
                height: 50vw;
                    .reviews__slider-title h2 {
                        font-size: 3.5vw;
                    }
                    .reviews__slider-text p {
                        font-weight: 500;
                        font-size: 2.4vw;
                        line-height: 2.5vw;
                    }
                }
            }
        }
        .reviews__slider-btn {
            width: 8vw;
            height: 8vw;
        }
        .reviews__slider-btnnext {
            right: -7vw;
        }
        .reviews__slider-btnprev {
            left: -7vw;
        }
    }

    .rooms {
        .rooms__slider {
            .rooms__slider-item {
                height: 120vw;
                .rooms__slider-img img {
                    height: 45vw;
                }
                .rooms__slider-descr {
                    h2 {
                        line-height: 5vw;
                        font-size: 6vw;
                    }
                    p {
                        font-size: 3.5vw;
                        line-height: 6vw;
                    }
                    button {
                        font-size: 4vw;
                        padding: 3vw;
                    }
                    hr {
                        margin: 3vw 0;
                    }
                    img {
                        width: 7vw;
                    }
                    .rooms__slider-boxes {
                        margin: 1vw 0;
                        p {
                            font-size: 2.5vw;
                            line-height: 3vw;
                        }
                        span {
                            font-size: 3vw;
                        }
                        img {
                        width: 8vw;
                        }
                        .rooms__slider-box {
                            margin-top: 2vw;
                            &.without {
                                &::after {
                                    top: 5vw;
                                    left: 34.5vw;
                                    width: 12vw;
                                }
                            }
                        }
                        .rooms__slider-price {
                            top: -5vw;
                            width: 30vw;
                            height: 7vw;
                            h2 {
                                font-size: 4.5vw;
                            }
                            .hide-td {
                                font-size: 4.4vw;
                            }
                        }
                    }
                }
            }
            .rooms__slider-btn {
                width: 8vw;
                height: 8vw;
            }
            .rooms__slider-btnnext {
                right: -7vw;
            }
            .rooms__slider-btnprev {
                left: -7vw;
            }
        }
        .slick-dots {
        position: absolute;
        bottom: -3%;
        right: 10%;
        }
        .slick-dots li {
            display: inline-block;
            padding: 0 0.5vw;
        }
        .slick-dots button {
            padding: 0;
            margin: 0;
            width: 3vw;
            height: 3vw;
            font-size: 0;
            border: none;
            border-radius: 50%;
            background-color: #665252;
        }
        li.slick-active button {
            background-color: #F5E5C1;
        }
    }

    .overview__description {
        flex-wrap: wrap;
        .overview__text {
            width: 100%;
            h2 {
                font-size: 3vw;
            }
            p {
                font-size: 2.6vw;
            }
        }
        .overview__img {
            width: 100%;
            &::after {
                height: 47vw;
            }
        }
    }

    .important-info {
        .important-info__title {
            h3 {
                width: 75%;
            }
        }
        .important-info__description {
            h4 {
                font-size: 3.5vw;
            }
        }
        .important-info__box {
            .important-info__contacts {
                h2 {
                    font-size: 5vw;
                }
                h3 {
                    font-size: 3.5vw;
                    margin-left: 15vw;
                }
                ul {
                    font-size: 3.5vw;
                    line-height: 5.5vw;
                    margin: 3vw 0 3vw 22vw;

                    .important-info__contacts-tel::before {
                        top: 1vw;
                        left: -4.5vw;
                        width: 3.2vw;
                        height: 3.2vw;
                    }
                    .important-info__contacts-mail::before {
                        left: -4.5vw;
                        top: 1.6vw;
                        width: 3.5vw;
                        height: 2.9vw;
                    }
                    .important-info__contacts-location::before {
                        top: 1vw;
                        left: -4.3vw;
                        width: 2.8vw;
                        height: 3.4vw;
                    }
                }
                .important-info__contacts-btn {
                    a {
                        width: 25vw;
                        line-height: 5vw;
                        font-size: 2.7vw;
                    }
                }
                .important-info__contacts-instagram::before {
                    width: 4vw;
                    height: 4vw;
                    top: 0.4vw;
                    left: 1.3vw;
                }
                .important-info__contacts-waze::before {
                    top: 1.2vw;
                    right: 6vw;
                    width: 2.6vw;
                    height: 2.5vw;
                }
            }
            .important-info__map:hover{
                width: 100%;
            }
        }
    }

    footer {
        .footer__info {
            margin-top: 7vw;

            h3 {
                font-size: 4.5vw;
            }
            h4 {
                font-size: 3vw;
                font-style: italic;
            }
            a {
                font-size: 3vw;
                line-height: 6vw;
            }
            .foooter__info-wrapper {
                margin-left: 5vw;
                .foooter__info-tel::before {
                    top: 1.1vw;
                    left: -4.5vw;
                    width: 3vw;
                    height: 3vw;
                }
                .foooter__info-mail::before {
                    top: 14vw;
                    left: -4.5vw;
                    width: 3.3vw;
                    height: 2.8vw;
                }
                .foooter__info-loc::before {
                    top: 1vw;
                    left: -4.7vw;
                    width: 3vw;
                    height: 3.4vw;
                }
            }
            .foooter__info-network {
                margin: 7vw auto;
            }
        }
    }

    // pages
    .page-banner {
        height: 40vh;
    }
    .price-page,
    .restoraunt,
    .children,
    .entertainment,
    .contacts {
        .price-page__info,
        .restoraunt__info,
        .children__info,
        .entertainment__info,
        .contacts__info {
            display: block;
            .price-page__slider {
                width: 100%;
                margin-top: 5vw;
                .price-page__slider-item {
                    height: 55vw;
                }
                .price-page__slider-item img{
                    width: 92%;
                    height: 90%;
                }
                .price-page__slider-item::after {
                    height: 50vw;
                    bottom: 0;
                    right: 0;
                }
                .slick-dots {
                    bottom: 2%;
                    right: 30%;
                }
                .slick-dots li {
                    padding: 0 1vw;
                }
                .slick-dots button {
                    width: 3.5vw;
                    height: 3.5vw;
                }
            }
            .price-page__desc,
            .restoraunt__desc,
            .children__desc,
            .entertainment__desc,
            .contacts__desc {
                width: 100%;
                h2 {
                    font-size: 7vw;
                    margin-top: 2vw;
                }
                h3 {
                    font-size: 5vw;
                    padding-left: 10vw;
                    &::before {
                        width: 10%;
                        height: 0.5vw;
                    }
                }
                h4 {
                    font-size: 3.4vw;
                    margin: 2vw 0 4vw;
                }
                p {
                    font-size: 2.8vw;
                }
            }
        }

        .price-page__rooms {
            a {
                border-left: 1vw solid;
                border-right: 1vw solid;
                border-bottom: 1vw solid;
                height: 50vw;
            }
            .price-page__rooms-box {
                display: grid;
                margin-top: 0;
                h2 {
                    font-size: 6vw;
                    width: 48%;
                }
            }
        }
        .restoraunt__img,
        .children__img,
        .entertainment__img{
            position: relative;
            width: 55%;
            height: 27vw;
            margin: auto;
            img {
                width: 90%;
                height: 90%;
            }
            &::after{
                content: "";
                position: absolute;
                width: 65%;
                height: 26vw;
                bottom: 0;
                right: 0;
                background-color: #211403;
                z-index: -1;
            }
        }
        .restoraunt__btn {
            margin: 3vw 0 7vw;
            display: flex;
            justify-content: center;
            button {
                position: relative;
                width: 12vw;
                background-color: white;
                color: #0c0c0c;
                line-height: 3vw;
                font-weight: 500;
                font-size: 1.3vw;
                border: 0.3vw solid #ffd370;
                cursor: pointer;
                transition: .3s all;
                &:hover {
                    border: 0.3vw solid #211403;
                    background-color: #ffd370;
                    transition: .3s all;
                }
            }
            form + form {
                margin-left: 2vw;
            }
        }
    }

    .room-page__price {
        .room-page__price-table {
            overflow-x: scroll;
        }
        margin: 10vw 0;
        h2 {
            font-size: 6.7vw;
        }
        h3 {
            font-size: 3vw;
        }
        li {
            line-height: 10vw;
        }
        .fa, .fas, .far, .fal, .fad, .fab {
            line-height: 1.5;
        }
        .main {
            td {
                font-size: 1.8vw;
            }
        }
        td {
            font-size: 1.8vw;
        }
        .hide tr.main,
        .room1 tr.studio-g1,
        .room2 tr.studio-g1-1,
        .room3 tr.studio-g2,
        .room4 tr.delux-g2,
        .room5 tr.superior-g2,
        .room6 tr.apartment-sea-1,
        .room6f tr.apartment-sea-1f,
        .room7 tr.apartment-sea-2,
        .room7a tr.apartment-sea-2a,
        .room7f tr.apartment-sea-2f,
        .room8 tr.apartment-sea-3,
        .room9 tr.standart,
        .room10 tr.apartment-park,
        .room11 tr.villa-west,
        .room12 tr.villa-south,
        .room13 tr.villa-east,
        .room14 tr.villa-vip,
        .room15 tr.studio-north,
        .room16 tr.cottage-sky,
        .room17 tr.studio-sky {
            td {
                font-size: 1.8vw;
            }
        }
    }

    .room-page {
        .room-page__title::before,
        .room-page__desc::before,
        .room-page__price::before {
            width: 25%;
            height: 1vw;
            top: -3vw;
        }
        h1,
        h2 {
            font-size: 7vw;
        }
        .room-page__title {
            p {
                font-size: 3vw;
            }
        }
        #room-page__red-text {
            font-size: 2.5vw;
        }
        .room-page__slider-box {
            display: block;
            .room-page__slider-wrapper {
                width: 100%;
                .room-page__sliderbig {
                    .room-page__sliderbig-item {
                        height: 50vw;
                    }
                    .main-img {
                        height: 50vw;
                    }
                }
                .room-page__slider {
                    .room-page__slider-item img {
                        height: 15vw;
                    }
                }
            }
            .room-page__info {
                width: 100%;
                padding-top: 5vw;
                h2 {
                    font-size: 8vw;
                }
                p {
                    font-size: 4vw;
                    line-height: 1vw;
                }
                .room-page__info-price {
                    width: 60%;
                    font-size: 8vw;
                }
            }
        }
        .room-page__desc {
            .room-page__desc-text {
                margin: 2vw 0;
            }
            p {
                width: 100%;
                margin: 0;
                font-size: 4vw;
                line-height: 5vw;
            }
            .room-page__desc-blocks {
                display: block;
                h2 {
                    margin-top: 7vw;
                }
                .room-page__desc-block {
                    width: 100%;
                    ul {
                        font-size: 5vw;
                        li {
                            font-size: 4vw;
                            line-height: 5vw;
                        }
                    }
                }
            }
        }
    }
}
