.page-banner {
    height: 35vw;
    background-image: url("../img/IMG_2584-min.jpg");
    background-size: cover;
    background-position: center;
}
.page-banner.restoraunt {
    background-image: url("../img/restoraunt.jpg");
}
.page-banner.pool {
    background-image: url("../img/pool-4.jpg");
}
.page-banner.children {
    background-image: url("../img/children-bg.jpg");
    background-position: bottom;
}
.page-banner.entertainment {
    background-image: url("../img/IMG_2153-min_11zon.jpeg");
}
.page-banner.contacts {
    background-image: url("../img/IMG_2771-min_11zon.jpeg");
}

.price-page,
.restoraunt,
.children,
.entertainment,
.contacts {
    .price-page__info,
    .restoraunt__info,
    .children__info,
    .entertainment__info,
    .contacts__info {
        display: flex;
        .price-page__slider {
            width: 48%;
            margin: auto;
            .price-page__slider-item {
                height: 26vw;
            }
            .price-page__slider-item img{
                width: 90%;
            }
            .price-page__slider-item::after {
                content: "";
                position: absolute;
                width: 65%;
                height: 24.8vw;
                bottom: 0.6vw;
                right: 0.4vw;
                background-color: rgb(33, 20, 3);
                z-index: -1;
            }
            .price-page__slider-btn,
            .price-page__slider-btn {
                position: absolute;
                bottom: 0;
                background-color: #665252;
                border: none;
                width: 3.7vw;
                height: 3.7vw;
                margin: 0;
                padding: 0;
                z-index: 5;
                cursor: pointer;
                transition: 0.3s all;
            }
            .price-page__slider-btnnext {
                right: -2%;
            }
            .price-page__slider-btnprev {
                right: 7%;
                transition: 0.3s all;
            }
            .slick-dots {
                position: absolute;
                bottom: 5%;
                right: 30%;
            }
            .slick-dots li {
                display: inline-block;
                padding: 0 0.5vw;
            }
            .slick-dots button {
                padding: 0;
                margin: 0;
                width: 1.2vw;
                height: 1.2vw;
                font-size: 0;
                border: none;
                border-radius: 50%;
                background-color: #665252;
                cursor: pointer;
            }
            li.slick-active button {
                background-color: #F5E5C1;
            }
        }
        .price-page__desc,
        .restoraunt__desc,
        .children__desc,
        .entertainment__desc,
        .contacts__desc {
            width: 51%;
            margin-right: 6vw;
            h2 {
                color: #444444;
                font-size: 2.4vw;
                font-weight: 500;
                letter-spacing: -0.2vw;
                margin-top: 1.5vw;
                span {
                    font-weight: 700;
                }
            }
            h3 {
                position: relative;
                font-size: 1.5vw;
                font-weight: 300;
                padding-left: 7vw;
                &::before {
                    content: '';
                    position: absolute;
                    background: rgb(255, 218, 97);
                    width: 15%;
                    height: 0.2vw;
                    top: 20%;
                    left: 0;
                }
            }
            h4 {
                font-size: 1.2vw;
                color: #444444;
            }
            p {
                font-size: 1.5vw;
                font-weight: 500;
                line-height: 1.7em;
                text-align: justify;
            }
        }
    }

    .price-page__rooms {
        width: 100%;
        background-color: rgb(33, 20, 3);
        color: #fff;
        .container {
            padding: 5vw 0;
        }
        .price-page__title h2 {
            color: #fff;
        }
        a {
            position: relative;
            border: 0.4vw solid;
            height: 20vw;
            width: 100%;
        }
        a::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000;
            opacity: 0.5;
            transition: 0.3s all;
        }
        a:hover {
            &::after {
                opacity: 0;
                transition: 0.3s all;
            }
        }
        p {
            font-style: italic;
            color: rgb(237, 179, 122);
        }
        .price-page__rooms-box {
            display: flex;
            margin-top: 1vw;
            h2 {
                position: absolute;
                text-transform: uppercase;
                width: 100%;
                top: 8vw;
                left: 0;
                font-size: 2vw;
                font-weight: 400;
                text-align: center;
                z-index: 1;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .restoraunt__img,
    .children__img,
    .entertainment__img{
        position: relative;
        width: 55%;
        height: 27vw;
        margin: auto;
        img {
            width: 90%;
            height: 90%;
        }
        &::after{
            content: "";
            position: absolute;
            width: 65%;
            height: 26vw;
            bottom: 0;
            right: 0;
            background-color: #211403;
            z-index: -1;
        }
    }
    .restoraunt__btn {
        margin: 3vw 0 7vw;
        display: flex;
        justify-content: center;
        button {
            position: relative;
            width: 12vw;
            background-color: white;
            color: #0c0c0c;
            line-height: 3vw;
            font-weight: 500;
            font-size: 1.3vw;
            border: 0.3vw solid #ffd370;
            cursor: pointer;
            transition: .3s all;
            &:hover {
                border: 0.3vw solid #211403;
                background-color: #ffd370;
                transition: .3s all;
            }
        }
        form + form {
            margin-left: 2vw;
        }
    }
}

.pool {
    h2 {
        color: #444444;
        text-align: center;
        margin-top: 5vw;
    }
    ul {
        margin: 2vw 0 8vw;
        li {
            font-size: 1.4vw;
            line-height: 2.5vw;
            font-weight: 500;
        }
    }
    .pool__info {
        display: flex;
        .pool__slider {
            width: 44%;
            margin: auto;
            .price-page__slider-item {
                height: 26vw;
            }
            .price-page__slider-item img{
                width: 85%;
            }
            .price-page__slider-item::after {
                content: "";
                position: absolute;
                width: 65%;
                height: 23.8vw;
                bottom: 1.6vw;
                right: 0.4vw;
                background-color: rgb(33, 20, 3);
                z-index: -1;
            }
            .price-page__slider-btn,
            .price-page__slider-btn {
                position: absolute;
                bottom: 1.2vw;
                background-color: #665252;
                border: none;
                width: 3.7vw;
                height: 3.7vw;
                margin: 0;
                padding: 0;
                z-index: 5;
                cursor: pointer;
                transition: 0.3s all;
            }
            .price-page__slider-btnnext {
                right: -2%;
            }
            .price-page__slider-btnprev {
                right: 7%;
                transition: 0.3s all;
            }
            .slick-dots {
                position: absolute;
                bottom: 9%;
                right: 30%;
            }
            .slick-dots li {
                display: inline-block;
                padding: 0 0.5vw;
            }
            .slick-dots button {
                padding: 0;
                margin: 0;
                width: 1.2vw;
                height: 1.2vw;
                font-size: 0;
                border: none;
                border-radius: 50%;
                background-color: #665252;
                cursor: pointer;
            }
            li.slick-active button {
                background-color: #F5E5C1;
            }
        }
        .pool__desc {
            width: 55%;
            margin-right: 3vw;
        }
        h2 {
            color: #444444;
            font-size: 2.2vw;
            font-weight: 500;
            letter-spacing: -0.2vw;
            margin: 1.5vw 0;
            span {
                font-weight: 700;
            }
        }
        h3 {
            position: relative;
            font-size: 1.5vw;
            font-weight: 300;
            padding-left: 7vw;
            &::before {
                content: '';
                position: absolute;
                background: rgb(255, 218, 97);
                width: 15%;
                height: 0.2vw;
                top: 20%;
                left: 0;
            }
        }
        h4 {
            font-size: 1.5vw;
            color: #444444;

        }
        p {
            font-size: 1.2vw;
            font-weight: 500;
            line-height: 1.7em;
            text-align: justify;
        }
    }
}

.children__info,
.entertainment__info,
.contacts__info {
    margin-bottom: 5vw;
    h4 {
        margin-top: 1vw;
    }
    .contacts__img {
        position: relative;
        width: 55%;
        height: 47vw;
        margin: auto;
        img {
            width: 90%;
            height: 90%;
        }
        &::after{
            content: "";
            position: absolute;
            width: 65%;
            height: 44vw;
            bottom: 1.8vw;
            right: 0;
            background-color: #211403;
            z-index: -1;
        }
    }
}
.contacts {
    h2 {
        text-align: center;
        color: #444444;
        margin: 3vw 0;
    }
    h5 {
        font-size: 1.8vw;
        color: #444444;
        font-weight: 500;
        margin: 2vw 0;
    }
    h6 {
        font-size: 1.8vw;
        font-style: italic;

    }
    iframe {
        width: 100%;
        height: 50vw;
        margin-bottom: 5vw;
    }

}
